 @import url('https://fonts.googleapis.com/css?family=Oswald|Rambla|Staatliches&display=swap');

 html::-webkit-scrollbar {
    width: 1em;
  }
   
  html::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  html::-webkit-scrollbar-thumb {
    background-color: black;
    outline: 1px solid black;;
    border-radius: 10px;
}


body{
    margin: 0;
    padding: 0;
}

section{ 
    max-height: 100vh;
    max-width: 100vw;
    /* background-color: red; */
}

#colorfix{
    color: white;
}
:root{
    --color-primary:#050300;
    --color-secondary: #d8b51bee;
    --color-border: #ffffff34;
    --font-staat: 'Staatliches', cursive;
    --font-os: 'oswald', sans-serif; 
    --font-ram: 'Rambla', sans-serif;
}
/*
/*global classes*/
    .font-staat{
        font: normal 400 18px var(--font-staat);
    }
    .font-os{
        font: normal 400 18px var(--font-os);
    }
    .font-ram{
        font: normal bold 18px var(--font-ram);
    }
    
    .font-size-40{
        font-size: 40px;
    }
    .font-size-34{
        font-size: 34px;
    }
    /* change class name*/ 
    .font-size-27{
        font-size: 75px;
    }
    .font-size-20{
        font-size: 20px;
    }
    .font-size-16{
        font-size: 16px;
    }

    .bgcolor-primary{
        background-color: var(--color-primary);       
    }
    /*end global class*/

    /*begin header css*/
    
    #header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        transition: left .5s ease;
    }

    #header nav{
        height: 100vh;
    }

    #skills {
        overflow: auto;
        object-fit: contain;
        flex-shrink: 1;
        width: 100%;
        height: 100vh;
        margin: auto auto;
           }

    #skills img{
        /* height: 10%; */
        padding: 35px;
    }  

    #projects{    
        display: inline-block;
        width: 100%;
        height: 100vh;
        margin: auto auto;
        overflow: auto;
    }

    #projects .col-md-3{
        padding: auto auto;
    }

    #education {
        top: 100px;
        display: block;
        height: 100vh;
        margin: auto auto;
        overflow: auto;
    }
    #education img{ 
        margin: 20px 20px 20px 20px;
        padding: 20px 20px 20px 20px;
    }


    #experience {
        top: 100px;
        display: block;
        height: 100vh;
        margin: auto auto;
        overflow: auto;
       
    }
    
    #experience img {
    
       margin: 20px 20px 20px 20px;
        padding: 20px 20px 20px 20px;
    }
    #contact{
        overflow: auto;
       
        width: 100%;
        height: 100vh;
        margin: auto auto;
    }

#contact form {
    margin: 20px 20px 20px 20px;
        padding: 20px 20px 20px 20px;
}

    /*
    #projectwrapper{
        display: block;
        width: 90%;
        margin: auto;
    } */

    /*
    #educationwrapper{
    display: block;
        width: 90%;
        margin: auto;
}*/
    #header .site-title .navbar .navbar-brand{
        letter-spacing: 2px;
        color: var(--color-secondary);
       
    }
    #header .nav-link{
        margin: .7rem 1rem;
        border-bottom: 1px solid var(--color-border);
        text-transform: uppercase;
    }

    #header .nav-link:hover{
        color: var(--color-secondary) !important;
    }

    #header .toggle-button{
        background: none; 
        color: var(--color-primary);
        position: fixed;
        top: 25px; 
        right: 20px; 
        border: 1px solid var(--color-border);
    }
    
    .toggle-left{
        left: 0 !important;
        width: 1000px !important;
    }

    /*home section css*/
    
.site-banner .banner-area{
    background: url(./assets/space.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.site-banner .banner-area .author{
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.site-banner .banner-area .author .author-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    background: url(./assets/me2.jpg) no-repeat;
    background-size: 110%;
    background-position: 40% 0;
}

h2{ 
    margin: auto auto; 
}

li{
    list-style-type: none;
}

.col-md-3 {
    display: block;
}

.container {
    
    display: block;
    margin: auto auto;
}

.container img{
    padding: 15px 15px 15px 15px;
}

    @media screen and (min-width: 768px) {
        .toggle-button{
            display: none;
        }
        #header{
            z-index: 0;
        }
    }